@tailwind base;
@tailwind components;
@tailwind utilities;
.custom-scrollbar-dark::-webkit-scrollbar {
    width: 10px;
}

.custom-scrollbar-dark::-webkit-scrollbar-track {
    background: #111;
    border-radius: 10px;
}

.custom-scrollbar-dark::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #22c55e, #f59e0b);
    border-radius: 10px;
    border: 2px solid #111;
}

.custom-scrollbar-dark::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, #16a34a, #d97706);
}
